<!--
* @Author: 三咲问道
* @Name: HomeIndex
* @Description: 首页
* @Date: 2023/10/28
-->
<template>
  <div class="HomeIndex">
    首页--HomeIndex
  </div>
</template>

<script lang="ts" setup>

</script>

<style lang="less" scoped>

</style>