<!--
* @Name: GetStartedQuicklyDoc
* @Description: 快速上手文档
* @Author: 三咲问道
* @Date: 2024-01-07
-->
<template>
  <div class="GetStartedQuicklyDoc">
    快速上手文档
  </div>
</template>

<script lang="ts" setup name="GetStartedQuicklyDoc">

</script>

<style scoped>

</style>