<!--
* @Name: layout-Index
* @Description: layout 的 index 文件
* @Author: 三咲问道
* @Date: 2023-11-18
-->
<template>
  <div id="layoutIndex" class="main-container">

    <div class="left-side">
      <MenuNavBar/>
    </div>

    <div class="right-side">
      <div class="top-bar">
        <NavBreadcrumb class="f-1"></NavBreadcrumb>
        <OperateGroup></OperateGroup>
      </div>
      <NavTabContainer></NavTabContainer>

      <div class="router-view-content">
        <router-view/>
      </div>
    </div>


  </div>
</template>

<script setup lang="ts" name="layout-Index">
import MenuNavBar from './MenuNavBar.vue'
import NavBreadcrumb from "@/layout/NavBreadcrumb.vue";
import OperateGroup from "@/layout/OperateGroup.vue";
import NavTabContainer from "@/layout/NavTabContainer.vue";
import {watch} from "vue";
import {useRoute} from "vue-router";

import {storeToRefs} from 'pinia'
import {layout} from '../stores/layout'
import {getPathByKey} from "@/utils/getAllTree";

const layoutStore = layout()
const {tags, menuList} = storeToRefs(layoutStore)

const route = useRoute()

/** 直接通过路径访问页面时，添加 tab 和 面包屑*/
watch(route, (nval, oval) => {
  if (!oval) return;

  /** 添加面包屑 */
  const pathList = getPathByKey(nval.path, menuList.value, 'path')
  layoutStore.setBreadcrumb(pathList)

  /** 添加tab */
  layoutStore.setTabAdd(pathList[pathList.length - 1])

}, {immediate: true, deep: true})


</script>

<style lang="less" scoped>
#layoutIndex.main-container {
  display: flex;

  .left-side {
    width: 180px;
    text-align: center;
    height: 100vh;
    background: #545c64;
  }

  .right-side {
    flex: 1;
    display: flex;
    flex-direction: column;

    .top-bar {
      display: flex;
      height: 50px;
      line-height: 50px;
      //border-bottom: 0.5px solid #ecf5ff;
      box-shadow: 0 1px 4px rgba(0, 21, 41, .08);

      .f-1 {
        flex: 1;
      }
    }

    .router-view-content {
      padding: 14px;
      background: #f2f2f2;
      flex: 1;
    }
  }

}
</style>