<!--
* @Name: MenuNavBar
* @Description: 导航组件
* @Author: 三咲问道
* @Date: 2023-11-18
-->
<template>
  <div id="MenuNavBar">
    <el-menu
        active-text-color="#ffd04b"
        background-color="#545c64"
        class="el-menu-vertical-demo"
        default-active="2"
        text-color="#fff"
        :collapse="isCollapse"
        @open="handleOpen"
        @close="handleClose"
    >
      <template v-for="item in menuList">
        <el-sub-menu :index="item.index" :key="item.index" v-if="item.children && item.children.length">
          <template #title>
            <el-icon>
              <component :is="item.icon"></component>
            </el-icon>
            <span>{{ item.label || item.name }}</span>
          </template>
          <MenuSubItem :subItem="item.children" @subClick="onMenuItemClick"/>
        </el-sub-menu>

        <template v-else>
          <el-menu-item :index="item.index" :key="item.index" @click="onMenuItemClick(item)">
            <el-icon>
              <component :is="item.icon"></component>
            </el-icon>
            <span>{{ item.label || item.name }}</span>
          </el-menu-item>
        </template>
      </template>
    </el-menu>
  </div>
</template>

<script setup lang="ts" name="MenuNavBar">
import {useRouter} from 'vue-router'
import MenuSubItem from "@/layout/MenuSubItem.vue";

import {storeToRefs} from 'pinia'
import {layout} from '../stores/layout'

import {getPathByKey} from "@/utils/getAllTree";

const $router = useRouter()

const layoutStore = layout()
const {isCollapse, menuList} = storeToRefs(layoutStore)

const handleOpen = (key: string, keyPath: string[]) => {
  console.log(key, keyPath)
}

const handleClose = (key: string, keyPath: string[]) => {
  console.log(key, keyPath)
}

/** 点击导航 */
const onMenuItemClick = (val) => {
  /** 添加tab */
  layoutStore.setTabAdd(val)

  /** 添加面包屑 */
  const pathList = getPathByKey(val.id, menuList.value)
  layoutStore.setBreadcrumb(pathList)

  /** 路由跳转 */
  if (val.path) {
    $router.push({path: val.path})
  }
}
</script>

<style lang="less" scoped>
.nav-icon {
  display: inline-block;
  font-size: 14px;
}

#MenuNavBar {
  height: 100vh;
  overflow-y: auto;

  /deep/ .el-menu {
    overflow-y: auto;
    //height: 100%;
  }
}
</style>