<!--
* @Name: MenuSubItem
* @Description: 导航递归组件，
* @Author: 三咲问道
* @Date: 2023-11-18
-->
<template>
  <template v-for="item in subItem">
    <el-sub-menu :index="item.index" :key="item.index" v-if="item.children && item.children.length">
      <template #title>
        <el-icon>
          <component :is="item.icon"></component>
        </el-icon>
        <span>{{ item.label || item.name }}</span>
      </template>
      <MenuSubItem :subItem="item.children"/>
    </el-sub-menu>
    <template v-else>
      <el-menu-item :index="item.index" :key="item.index" @click="$emit('subClick',item)">
        <el-icon>
          <component :is="item.icon"></component>
        </el-icon>
        <span>{{ item.label || item.name }}</span>
      </el-menu-item>
    </template>

  </template>
</template>

<script setup lang="ts" name="MenuSubItem">

import {computed} from "vue";

defineProps({
  subItem: {
    type: Array,
    default: []
  }
})

</script>

<style lang="less" scoped>

</style>