<!--
* @Name: NavBreadcrumb
* @Description: 面包屑导航组件
* @Author: 三咲问道
* @Date: 2023-11-25
-->
<template>
  <div class="NavBreadcrumb">
    <div class="expand-and-collapse">
      <el-icon v-if="isCollapse" @click="changeCollapse">
        <Expand/>
      </el-icon>
      <el-icon v-else @click="changeCollapse">
        <Fold/>
      </el-icon>
    </div>
    <div class="tool-main">
      <el-breadcrumb :separator-icon="ArrowRight">
                <el-breadcrumb-item v-for="(item,index) in breadcrumbList" :key="index">{{item.label}}</el-breadcrumb-item>
      </el-breadcrumb>
    </div>

  </div>
</template>

<script lang="ts" setup name="NavBreadcrumb">
// import {ref} from 'vue'
import {storeToRefs} from 'pinia'
import {layout} from '../stores/layout'

const layoutStore = layout()

const {isCollapse,breadcrumbList} = storeToRefs(layoutStore)


import {
  Expand, ArrowRight,
} from '@element-plus/icons-vue'

const changeCollapse = () => {
  layoutStore.switchCollapse()
}

const handleOpen = (key: string, keyPath: string[]) => {
  console.log(key, keyPath)
}

const handleClose = (key: string, keyPath: string[]) => {
  console.log(key, keyPath)
}


</script>

<style lang="less" scoped>

.cur-p {
  cursor: pointer;
}

.cur-p:hover {
  cursor: pointer;
  background: #ecf5ff;
}

.NavBreadcrumb {
  height: 50px;
  line-height: 50px;
  display: flex;
  //border-bottom: 0.5px solid #ecf5ff;
  //box-shadow: 0 1px 4px rgba(0, 21, 41, .08);

  .expand-and-collapse:extend(.cur-p) {
    width: 50px;
    text-align: center;
    font-size: 20px;
  }

  .tool-main {
    flex: 1;

    /deep/ .el-breadcrumb {
      line-height: 45px;
    }
  }


}

</style>