<!--
* @Name: NavTabContainer
* @Description: tab 的导航
* @Author: 三咲问道
* @Date: 2023-11-25
-->
<template>
  <div class="nav-tab-container">
    <el-tag
        v-for="(item,index) in tags"
        :key="item.label"
        class="mx-1"
        closable
        :type="tabActiveIndex === index ? 'success' : 'info'"
        :effect="tabActiveIndex === index ? 'dark':'light'"
        @click="tabClick(item,index)"
        @close="tabClose(item,index)"
    >
      {{ item.label }}
    </el-tag>

  </div>
</template>

<script lang="ts" setup name="NavTabContainer">

import {storeToRefs} from 'pinia'
import {layout} from '../stores/layout'

const layoutStore = layout()

const {tabActiveIndex, tags} = storeToRefs(layoutStore)

const tabClick = (tag, index) => {
  layoutStore.setCurrentTabIndex(index)
}

const tabClose = (tag, index) => {
  layoutStore.setTabClose(index)

  console.log('tabClose: ', tag, index)
}


</script>

<style lang="less" scoped>
.nav-tab-container {
  line-height: 30px;
  padding: 0 12px;
  box-shadow: 0 1px 2px rgba(0, 21, 41, .08);

  & > span:extend(.cur-p) {
    margin-right: 6px;
  }

}
</style>