<!--
* @Name: OperateGroup
* @Description: 工具类组件
* @Author: 三咲问道
* @Date: 2023-11-25
-->
<template>
  <div class="OperateGroup operate-group">
    <div class="icon-container">
      <el-icon>
        <FullScreen/>
      </el-icon>
    </div>

    <div class="icon-container">
      <el-icon>
        <Setting/>
      </el-icon>
    </div>
    <div class="icon-container">
      <el-icon>
        <Avatar/>
      </el-icon>
    </div>
    <div class="icon-container">
      <el-icon>
        <MoreFilled/>
      </el-icon>
    </div>


  </div>

</template>

<script lang="ts" setup name="OperateGroup">
import {
  Document,
  Menu as IconMenu,
  Location,
  Setting, Expand, ArrowRight,
} from '@element-plus/icons-vue'

</script>

<style lang="less" scoped>

.cur-p {
  cursor: pointer;
}

.cur-p:hover {
  cursor: pointer;
  background: #ecf5ff;
}

.OperateGroup.operate-group {
  height: 50px;
  line-height: 50px;
  display: flex;
  font-size: 20px;

  .icon-container:extend(.cur-p) {
    width: 50px;
    text-align: center;
    font-size: 18px;
  }

  .icon-container:hover {
    .el-icon {
      font-size: 22px;
      animation: logoAnimation .3s ease-in-out;
    }
  }
}

</style>